[submodule "optim-mathsv"]
	path = optim-mathsv
	url = https://github.com/joon-kwon/optim-mathsv.git
[submodule "cpes-ml"]
	path = cpes-ml
	url = https://github.com/joon-kwon/cpes-ml.git
[submodule "rl-ups"]
	path = rl-ups
	url = https://github.com/joon-kwon/rl-ups.git
[submodule "regret-ups"]
	path = regret-ups
	url = https://github.com/joon-kwon/regret-ups.git
